<h1>Directory of Student Pages</h1>

<ul>
    <li><%= link_to 'NaitikKaythwal', NaitikKaythwal_path %></li>
    <li><%= link_to 'uofmmk', uofmmk_path %></li>

    <li><%= link_to 'RoboMal', username_path %></li>
</ul>

