<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
    <div class="container">
        <h1>Things About Me</h1>
        <p>Hello, I'm Naitik. Here's a little bit about myself:</p>
        <ul>
            <li>I'm an international undergrad at UofM.</li>
            <li>I'm majoring in CS and Math and a minor in Finance</li>
            <li>I'm set th graduate in Spring 2024</li>
            <li>I'm also applying for a masters at UofM starting </li>
            <li>In my free time, I enjoy playing games and listening to music or watching movies and tv shows.</li>
        </ul>
        <p>Feel free to reach out to me at <a href="mailto:nkythwal@memphis.edu">nkythwal@memphis.edu</a> or connect with me on <a href="https://www.linkedin.com/in/naitik-kaythwal-057347202/">LinkedIn</a></p>
    </div>
</body>
</html>
