<h1>Malcolm King</h1>
<p>Facts:</p>
<ul>
    <li>I like pie</li>
    <li>I once beat a snake in a staring contest</li>
    <li>I would recommend sprinting diretly toward home intruders</li>
    <li>I am apathetic toward sand</li>
    <li>If I could make 1 wish with the 7 Dragon Balls, I would wish for the ability to sleep soundly on-command</li>
</ul>

